{% extends 'base.html' %}

{% block content %}
    <h1>Home</h1>
    <hr>
    <div class="button-container">
        <a href="{{ url_for('recipes.add_recipe') }}" class="button">Add a new recipe</a>
        <a href="{{ url_for('categories.add_category', origin='home') }}" class="button">Add a new Category</a>
        <a href="{{ url_for('recipes.all_recipes') }}" class="button">View all recipes</a>
        <a href="{{ url_for('categories.all_categories') }}" class="button">View all categories</a>
    </div>
{% endblock %}


